.card{
    margin-top: 50px;
}
.card-product{
    display: flex;
    /* justify-content: space-around; */
    gap: 250px;
    align-items: center;
    margin-top: 20px;
}
.card-block{
    width: 400px;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
    font-weight: 900;
}
.cardImg{
    width: 100px;
    height: 100px;
}
.card-product p{
    font-size: 20px;
    font-weight: 900;
}
.card-product input{
    width: 55px;
    height: 32px;
    border-radius: 5px;
    text-align: center;
    background-color: #e1dede;
    border: none;
    outline: none;
}
.card-btn{
    width: 90px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-weight: 900;
    background-color: teal;
    border-radius: 5px;
}
.card-btn:hover{
    transition: 0.8s ;
    background-color: rgb(239, 106, 106);
}